<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base::headstuff"lang="en">
    <meta charset="UTF-8"/>
    <title>Add actors to Movie</title>
</head>


<body>
<div class="container">
    <h1 class="text-center">About the Movie Database</h1>
    <p>This application was developed for the Java Bootcamp October 2017. It has the following
    features:
    <ol>
            <li>Many to many relationships between movies and actors </li>
            <li>A form to add actors to the database</li>
            <li>A form to add movies to the database </li>
            <li>A form to add actors to movies</li>
            <li>Thymeleaf fragments, including: </li>
                <ul>
                    <li>A condition to display links only when actors have been enterd into the database AND there are still some actors to be added to the movie</li>
                    <li>A navigation bar that indicates where in the application a user is</li>
                </ul>
            <li>A method has been added to the Cloudinary configuration to transform images based on the featured actor's face. Have a look at this code as well! </li>

            You will be given the code of this application to type out. Make sure you don't leave anything out!
</ol>
    </p>
</div>
</body>
</html>